<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Copa Mundial FIFA 2026</title>
     <link rel="stylesheet" href="/index.css">
</head>
<body>

<div class="hero">
    <div class="overlay">

        <h1>🏆 Copa Mundial de la FIFA 2026</h1>

        <p class="subtitulo">
            Estados Unidos • México • Canadá
        </p>

        <div class="botones">
            <a href="/">🏠 Inicio</a>
            <a href="/agregar">➕ Agregar País</a>
            <a href="/participantes">⚽ Participantes</a>
            <a href="/Estadosunidos">🇺🇸 EE.UU</a>
            <a href="/Mexico">🇲🇽 México</a>
            <a href="/Canada">🇨🇦 Canadá</a>
        </div>

    </div>
</div>
</body>
</html>